/* pricing table */
.pricing {
	width:70%;
	margin: 0 auto;
}

.pricing .heading {
	margin: 0;
	line-height: 1;
}

.pricing .row-fluid {
	
	margin: 0 auto;
}

.pricing-table {
	padding: 30px 30px 0 30px;
	background: #fff;
	border: 1px solid #bababa;
	text-align: center;	
}

.pricing-table .heading {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 3em;
	color: #323232;
	margin-bottom: 15px;
}


.pricing-badge span {
	display: block;
	padding-top: 31%;
	font-weight: 300;
	font-size: 1.2em;
	color: #FFF;
}

.pricing-table.recommended {
	position: relative;
}

.pricing-table .promotion {
	text-align: left;
}

.pricing-table .promotion  h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
}

.pricing-table .description {
	font-size: 1.3em;
	font-weight: normal;
	margin-bottom: 0;
}
.pricing-table ul {
	list-style-type: none;
	text-shadow: 1px 1px 0 #fff;
}

.pricing-table ul.icon-feature {
	margin: 0;
}

.pricing-table ul.icon-feature li {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin: 0 15px;
}

.pricing-table ul.icon-feature p,
.pricing-table ul.icon-feature h3{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.1em;
}


.pricing-table .bottom {
	background: #e8e8e8;
	margin: 0 -30px;
	padding: 30px 0;
}

.pricing-table ul.feature-list {
	margin: 0 0 30px 0;
}

.pricing .btn {
	padding: 10px 30px;
	font-size: 1.4em;
	color: #fff;
	min-width: 104px;
}

.pricing .btn.default {
	background-color: #969DA3;
}

.pricing-table .btn.default:hover,
.pricing-table .btn.default:focus,
.pricing-table .btn.default:active,
.pricing-table .btn.default.active {
	background-color: #9BA3AA;
}



/* Media Queries
-------------------------------------------------- */

/* Large desktop */
@media (min-width: 1200px) {
	
}

@media (min-width: 980px) {

}

@media (max-width: 979px) {
	#top-nav .nav > li > a.btn {
		margin: 0 30px;
		font-weight: 300; 
	}

	.pricing .row-fluid {
		width: 95%;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	.pricing-table {
		padding: 30px 20px 0 20px; 
	}

	.pricing-table .bottom {
		margin: 0 -20px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.hero-unit {
		padding-top: 20px;
	}

	.hero-text {
		margin: 20px 0;
		text-align: center;
	}

	.pricing-table {
		margin-bottom: 65px;
	}

	.pricing .row-fluid {
		width: 85%;
	}

}

/* Landscape phones and down */
@media (max-width: 480px) {
	.pricing-table {
		padding: 30px 0 0 0; 
	}

	.pricing-table .bottom {
		margin: 0;
	}
}